<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>staxer-sample-server</display-name>

    <context-param>
        <param-name>configLocation</param-name>
        <param-value>/WEB-INF/config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>wsProcessorContainerName</param-name>
        <param-value>staxerSampleServerServices</param-value>
    </context-param>

    <listener>
        <listener-class>org.staxer.sample.server.ignite.http.StaxerSampleServerListener</listener-class>
    </listener>

    <!-- Staxer ws servlet -->

    <servlet>
        <servlet-name>staxerWsServlet</servlet-name>
        <servlet-class>org.staxer.util.staxer.server.StaxerWsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>staxerWsServlet</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>

</web-app>
