<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>swc-server</display-name>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>comtech.util.http.WebappLog4jConfigListener</listener-class>
    </listener>

    <!-- Staxer ws servlet -->

    <servlet>
        <servlet-name>staxerWsServlet</servlet-name>
        <servlet-class>comtech.staxer.server.StaxerWsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>staxerWsServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
